//Background styling
#body {
  @include transition(all, 1s, ease);
}

//Visual styling for hero message

.hero {
  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 2px;
  font-family: $font-family-sans-serif;
  line-height: 40px;
  font-weight: bold;
}

.hero:hover {
  cursor: pointer;
}

//Theme colors
.hero-pink {
  background: $theme-pink-bg;
   .hero {
     @include button-variant($theme-text,$theme-pink,#ccc);
   }
}

.hero-blue {
  background: $theme-blue-bg;
    .hero {
      @include button-variant($theme-text,$theme-blue,#ccc);
    }
}

.hero-green {
  background: $theme-green-bg;
    .hero {
      @include button-variant($theme-text, $theme-green, #ccc);
    }
}

.hero-dawgs {
  background: $theme-dawgs-bg;
    .hero {
      @include button-variant($theme-text, $theme-dawgs, #ccc);
    }
}
