//Background styling

body {
  background: $bg-color;
}

//Visual styling for hero message

.hero {

  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 2px;
  font-family: $font-family-sans-serif;
  line-height: 40px;
  font-weight: bold;
}

.hero:hover {
  cursor: pointer;
}

//Apply _button mixin to hero message
.hero-pink {
  @include button-variant($theme-text,$theme-pink,#ccc);
}

.hero-blue {
  @include button-variant($theme-text,$theme-blue,#ccc);
}
