//Color variables


$theme-text: #fff;

//Pink
$theme-pink: #F15D58;
$theme-pink-bg: #F0F1EE;

//Blue
$theme-blue: rgb(0, 173, 239);
$theme-blue-bg: rgb(228, 241, 241);

//green
$theme-green: rgb(4, 220, 139);
$theme-green-bg: rgb(255, 255, 255);

//Dawgs
$theme-dawgs-bg: rgb(114, 78, 155);
$theme-dawgs: rgb(230, 217, 191);

//Red
$theme-red-bg: rgb(141, 84, 139);
$theme-red: rgb(205, 67, 31);

//Christmas
$theme-xmas-bg:rgb(74, 174, 166);
$theme-xmas: rgb(232, 105, 114);

//Dawn
$theme-dawn-bg: rgb(16, 11, 7);
$theme-dawn: rgb(247, 187, 42);

//Neon
$theme-neon-bg:rgb(246, 238, 246);
$theme-neon: rgb(242, 18, 93);
