// Flex styling for horizontal & vertical centering

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contain {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.hero {
  flex: 1 100%;
}

.flex-item {
  flex: 1 0px;
  width: 20%;
}
